.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 40px;
  background-color: $primary;
  color: white;
  border-radius: 10px;
}

.icon-button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 300ms all;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 50%;

    path {
      fill: white;
    }
  }

  &:hover {
    background-color: rgba($darkGray, 0.6);
  }
}

.icon-button.plus {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
    height: 3px;
    border-radius: 10px;
    background-color: white;
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
}
