.input {
  display: block;
  width: 100%;
}

.input__label {
}

.input__field {
  width: 100%;
  height: $button-height;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 10px;
  color: $dark-gray;
}
