@import './variables.scss';
@import './reset.scss';

@import './checkbox.scss';
@import './button.scss';
@import './input.scss';
@import './modal.scss';

@import './header.scss';

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $lightGray;

  &,
  p,
  a {
    color: white;
  }
}

.page {
  padding: 30px 5vw;
}

.page__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 10px;
  border: 1px white solid;
  border-bottom: 0;
}

.table-header-left {
}

.table-header-checked-amount {
}

.table-header-title {
}

.table-header-right {
  display: flex;
  // column-gap: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    margin-top: 30px;

    tr {
      cursor: pointer;

      &:hover {
        background-color: $darkGray;
      }

      th,
      td {
        &:first-child {
          width: $checkbox-size;
          box-sizing: content-box;
        }
      }
    }
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px white solid;
    // border-bottom: 1px solid #ddd;
  }

  th {
  }

  td {
  }
}
