@import './variables.scss';
@import './reset.scss';

@import './spinner.scss';
@import './checkbox.scss';
@import './button.scss';
@import './input.scss';
@import './select.scss';
@import './modal.scss';
@import './table.scss';
@import './header.scss';
@import './user-detail.scss';

.app {
  position: relative;
  min-height: 100vh;
  background-color: $dark-gray;
}

.page {
  padding: 50px 0;
}

.page__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

// .info-password {
//   display: flex;
//   align-items: center;
// }

.container {
  width: 90vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
