.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(black, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms all;
  z-index: 100;

  &.modal-wrapper--active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0);
  width: 300px;
  min-height: 50px;
  max-width: 95vw;
  max-height: 95vh;
  padding: 20px;
  border-radius: 10px;
  overflow-y: visible;
  background: $light-gray;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 300ms all;

  &.modal--active {
    transform: translateX(-50%) translateY(-50%) scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  font-size: 20px;
  font-weight: 500;
}

.modal__close {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width: 80%;
    height: 2px;
    border-radius: 10px;
    background-color: white;
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}

.modal__content {
  padding-top: 20px;

  .button {
    width: 100%;
    margin-top: 20px;
  }

  .input {
    margin-bottom: 10px;
  }
}

.modal--add-user {
}

.modal--delete-user {
  .delete-user-message {
  }
}

.modal--add-acl {
}

.modal--delete-acl {
  .delete-acl-message {
  }
}
