* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  vertical-align: baseline;
  box-sizing: border-box;
  color: white;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
a {
  display: block;
}

html,
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;

  &,
  p,
  a {
    font-size: 16px;
    line-height: 150%;
  }
}

body {
  overflow-x: hidden;
}

ol,
ul,
li {
  list-style: none;
}

a {
  width: fit-content;
  text-decoration: none;
}

button {
  display: block;
  font-size: 16px;
  cursor: pointer;
}
