.table-container {
  border-radius: 10px;
  background-color: $light-gray;
  box-shadow: 0 0 20px rgba(black, 0.15);
  overflow-x: auto;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 15px 15px;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
}

.table-header__left {
}

.table-header__checked-amount {
}

.table-header__title {
  font-size: 18px;
  font-weight: bold;
}

.table-header__right {
  display: flex;
}

.table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
  table-layout: fixed;
}

.table thead tr {
  text-align: left;
  font-weight: bold;
  border-bottom: 1px white solid;
}

.table tbody tr {
  border-bottom: 1px white solid;
  cursor: pointer;

  &:hover {
    background-color: $dark-gray;
  }

  &:last-child {
    border-bottom: none;
  }
}

.table th,
.table td {
  vertical-align: middle;
  padding: 15px 20px;

  &:first-child {
    width: 70px;
  }

  &:nth-child(2) {
    width: 100px;
  }
}
