.user {
}

.user__info {
  max-width: 300px;
  margin-bottom: 30px;
}

.user__info-item {
  margin-bottom: 10px;
}

.user__info-password {
  position: relative;
  margin-bottom: 10px;

  .icon-button {
    position: absolute;
    bottom: 0;
    left: calc(100% + 3px);

    &:hover {
      background-color: rgba($light-gray, 0.6);
    }
  }
}

.user__info-role {
  margin-bottom: 15px;
}

.user__info-save {
  margin-left: auto;
}
