$dark-gray: rgb(22, 24, 25);
$light-gray: rgb(36, 37, 41);
$primary: rgb(38, 132, 255);
$primary-light: #88bcff;
$primary-dark: #003e8e;
$error: rgb(255, 51, 51);

$checkbox-size: 20px;
$button-height: 40px;
